# ignore any shell scripts

*.sh


# ignore data directories and their files

data/*
figs/*
Skript_Plötz/
literature/

#ignore misc files

Warteschlangenmodell.xlsx
*.png
.DS_Store
.RData
.Rhistory
.ipynb_checkpoints
.idea

# ignore environment folder from pycharm
.venv
venv/
__pycache__
